
    </div>

    <footer class="absolute-bottom text-muted bg-dark p-2 mt-4">
        <div class="container text-light d-flex justify-content-between">
            <small>Nemo Fazakerley</small>
            <small>@HETIC 2019</small>
            <small>Digital Designer</small>
        </div>
    </footer>
</body>
</html>